<div id="<%= dom_id post %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <h1 class="text-4xl">
      <%= post.title %>
    </h1>
    <div>
      <%= post.user.email_address %>
    </div>
    <div>
      <%= post.created_at.strftime("%B %d, %Y") %>
    </div>
  </div>

  <%= image_tag post.featured_image if post.featured_image.attached? %>
  
  <div class="prose">
    <%= post.content %>
  </div>

</div>
