<% content_for :title, "Showing post" %>
<div class="md:w-2/3 w-full mx-auto">
  <% if notice.present? %>
    <p
      class="
        py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block
      "
      id="notice"
    >
      <%= notice %> <%= "(#{@post.status})" %>
    </p>
  <% end %>
  <div class="flex justify-between items-center mb-8">
    <%= render partial: "icon_button", locals: { path: posts_path, icon: "arrow-left" } %>
    <% if authenticated? %>
      <div class="flex justify-center items-center">
        <%= render partial: "icon_button",
        locals: {
          path: edit_post_path(@post),
          icon: "pencil",
        } %>
        <%= render partial: "icon_button",
        locals: {
          path: @post,
          icon: "trash-2",
          method: :delete,
          color: "red",
          data: {
            turbo_confirm: "Are you sure?",
          },
        } %>
      </div>
    <% end %>
  </div>
  <%= render @post %>
</div>
